
{% load staticfiles %}

<!DOCTYPE html>
<html>

  <body>
    <div class="header">
    <div class="container" style="width:95%">

    <h1>NFL Draft Data Site</h1>
    
    <br />

    <div class="col-md-1 center-block text-center" style="font-size: x-large">
      <a href="/nfldata/view-nfldata/" class="dark" style="cursor: pointer;">
      <span class="glyphicon glyphicon-upload"></span>View Player Statistics</a>
    </div>

    <br />

    <div class="col-md-1 center-block text-center" style="font-size: x-large">
      <a href="/nfldata/begin-draft/" class="dark" style="cursor: pointer;">
      <span class="glyphicon glyphicon-upload"></span>Begin Fantasy Draft</a>
    </div>

   </div>
   </div>
  </body>
</html>
